* {
    box-sizing: border-box;
}

html {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.bg-nav {
    background-color: #3d348b;
}

.btn-primary {
    display: block;
    color: #fff;
    background-color:#3d348b;
    border-color: #3d348b;
    margin-right: auto;
    margin-left: auto;
    width: 120px;
}

body {
    background-image: url("../images/17545.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: SansSerif;
    text-align: justify;
    font-size: 20px;
    margin: 0;
}



header {
    width: 100%;
    margin: 0;
    height: auto;
    overflow: hidden;
    color: whitesmoke;
    background-color:  #5588aa;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.form {
    display: inline-block;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 320px;
}

.register-login {
    float: right;
}

h3, h1, h2 {
    text-align: center;
}

i{
    margin-right: 3px;
 }
.vertical-menu {
    width: 300px;
    position: absolute;
    z-index: 1;
    background-color: #d3f2f8;
    overflow-x: hidden;
    padding-top: 20px;
}

.vertical-menu a {
    background-color: #d3f2f8;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: 	#dcf4f4;
}

.vertical-menu a.active {
    background-color: #5588aa;
    color: white;
}

.vertical-menu a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    background-color: #d3f2f8;
}

form {
    width: 50%;
    background-color: #fff;
    margin-top: 3%;
    padding: 5%;
}

.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    margin-bottom: 0;
    border-radius: .25rem;
}

.alert-success {
    width: 300px;
    color: #041316;
    background-color: #d3f2f8;
    border-color: #c3e6cb;
}

a {
    color: black;
}

.active {
    background-color: #5588aa;
    color: #eeeeee;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.table {
    margin-left: 18.5%;
    margin-right: 20.5%;
    margin-top: 5%;
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: black;
    text-align: left;
    caption-side: top;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1%;
}

.mbsc-form-group {
    margin-top: 0 !important;
}